@import "utils";

.button-box {
  padding: 10px;
}

.button-box a {
  width: 100%;
  font-weight: 100;
  font-size: 2rem;
  height: 100px;
  line-height: 100px;
  border-radius: 10px;
}
.button-box span.time {
  font-size: 1rem;
}
