@import "utils";
.chat {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100vh - 80px);
  .thumbnails {
    padding: 0 20px;
    .thumbnail {
      &:hover {
        box-shadow: 0 2px 4px 2px grey;
      }
      a {
        cursor: default;
      }
    }
  }
  .chat-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.input-box {
  flex-shrink: 0;
  border-top: 1px solid $oc-gray-4;
  padding: 10px;
  display: flex;
  textarea {
    flex-grow: 1;
    margin-bottom: 0px !important;
  }
  a {
    flex-basis: 60px;
    height: 42px;
    line-height: 44px;
    i {
      font-size: 25px;
    }
  }
}
