@import "utils";
$break-small: 600px;
.profile-box {
  .more {
    i.material-icons {
    }
  }
  margin: 0 auto;
  .refresh {
    position: absolute;
    right: 90px !important;
    top: 10px;
    i {
      font-size: 2.5rem;
      color: $oc-gray-6;
      &:hover {
        color: black;
      }
    }
    @media (max-width: 600px) {
      right: 70px !important;
      i {
        font-size: 2rem !important;
      }
    }
  }
  .edit {
    position: absolute;
    right: 50px;
    top: 10px;
    i {
      padding-top: 2px;
      font-size: 2rem;
      color: $oc-gray-6;
      &:hover {
        color: black;
      }
    }
    @media (max-width: 600px) {
      right: 41px !important;
      i {
        font-size: 1.75rem !important;
      }
    }
  }
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    i {
      padding-top: 2px;
      font-size: 2.4rem;
      color: $oc-gray-6;
      &:hover {
        color: black;
      }
    }
    @media (max-width: 600px) {
      i {
        padding-top: 0px;
        font-size: 2.1rem !important;
      }
    }
  }
  .btn {
    width: 100% !important;
  }
}

.profile-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .thumbnail-wrapper {
    width: 100px;
    margin-right: 20px;
    .thumbnail {
      width: 80px;
      position: relative;
      padding-top: 100%; /* 1:1 ratio */
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 2px 4px 2px gray;
      &:hover {
        box-shadow: 0 2px 4px 2px grey;
      }
      .centered {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
        img {
          position: absolute;
          top: 0;
          left: 0;
          max-width: 100%;
          height: auto;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .profile-username {
    margin-right: 20px;
    .content {
      font-weight: 100;
      font-size: 3rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .today-status {
    @media screen and (max-width: $break-small) {
      position: absolute;
      right: 20px;
      top: 70px;
    }
    line-height: 5px;
    .label {
      border-left: 1px solid gray;
      @media screen and (max-width: $break-small) {
        border-left: none;
      }
      font-weight: 100;
      font-size: 1.5rem;
      padding: 10px 10px 10px 20px;
      position: relative;
      top: 50px;
      transform: translateY(-50%);
    }
    .content {
      font-size: 1rem;
      padding: 5px 10px;
      border-radius: 10px;
      position: relative;
      top: 50px;
      color: white;
      margin: auto 0;
      transform: translateY(-45%);
    }
  }
}

.card-row {
  margin-top: 20px;
  .title {
    color: $oc-gray-7;
    display: inline;
    font-weight: 300;
    font-size: 1.5rem;
    border-bottom: 1px solid $oc-gray-5;
    padding: 0px 5px 5px 5px;
  }
  .content {
    padding: 10px 20px 0 20px;
    @media (max-width: 600px) {
      padding: 10px 0;
    }
    table {
      th,
      td {
        font-size: 1.2rem;
      }
      th {
        font-weight: 400;
        color: $oc-gray-6;
      }
      td {
        font-weight: 100;

        span.status {
          padding: 5px 10px;
          border-radius: 10px;
          color: white;
          @media (max-width: 600px) {
            padding: 3px 6px;
            font-size: 1rem;
            border-radius: 6px;
          }
        }
      }
      tbody tr {
        border-bottom: none;
      }
    }
  }
  .footer {
    padding: 15px 24px;
  }
}
