@import "input";
@import "utils";

label.title {
  color: white;
  font-size: 1rem;
}

label span {
  color: white;
  font-size: 0.8rem !important;
}

.username,
.ip,
.manager {
  margin-top: 0px !important;
}

.card-content.title {
  padding-bottom: 0 !important;
  font-weight: 100;
}

input[name="in"],
input[name="out"] {
  cursor: pointer;
}

/* OVERRIDING MATERIALIZE INPUT */
.card-content .btn {
  line-height: 40px;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.upload-box input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.upload-box {
  .thumbnail-wrapper {
    width: 30%;
    min-width: 90px;
    margin: 0 auto;
    .thumbnail {
      width: 100%;
      position: relative;
      padding-top: 100%; /* 1:1 ratio */
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 2px 4px 2px teal;
      .centered {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.back {
  text-align: left;
  position: absolute;
  top: 12px;
  left: 10px;
}

.back i {
  font-size: 2rem;
  color: white;
}
