@import "utils";
@import "input";
body {
  margin: 0;
  background: white;
  box-sizing: border-box;
}
.toast.error {
  color: $oc-red-4;
}
.toast.success {
  color: $oc-blue-4;
}
.toast.warn {
  color: $oc-yellow-4;
}
* {
  box-sizing: inherit;
}

input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type="text"]:not(.browser-default),
input.valid[type="text"]:not(.browser-default):focus,
input.valid[type="password"]:not(.browser-default),
input.valid[type="password"]:not(.browser-default):focus,
input.valid[type="email"]:not(.browser-default),
input.valid[type="email"]:not(.browser-default):focus,
input.valid[type="url"]:not(.browser-default),
input.valid[type="url"]:not(.browser-default):focus,
input.valid[type="time"]:not(.browser-default),
input.valid[type="time"]:not(.browser-default):focus,
input.valid[type="date"]:not(.browser-default),
input.valid[type="date"]:not(.browser-default):focus,
input.valid[type="datetime"]:not(.browser-default),
input.valid[type="datetime"]:not(.browser-default):focus,
input.valid[type="datetime-local"]:not(.browser-default),
input.valid[type="datetime-local"]:not(.browser-default):focus,
input.valid[type="tel"]:not(.browser-default),
input.valid[type="tel"]:not(.browser-default):focus,
input.valid[type="number"]:not(.browser-default),
input.valid[type="number"]:not(.browser-default):focus,
input.valid[type="search"]:not(.browser-default),
input.valid[type="search"]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid $oc-blue-3;
  box-shadow: 0 1px 0 0 $oc-blue-3;
}

//position
.mt-70 {
  margin-top: 80px;
}

.loading-spinner,
.loading-spinner > div {
  height: 100vh;
}

.loading-spinner svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@media only screen and (max-width: 600px) {
  .card-content {
    padding: 15px !important;
  }
  table.responsive {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    thead {
      display: block;
      float: left;
      border: 0;
      border-top-color: initial;
      border-top-style: initial;
      border-top-width: 0px;
      border-right-color: rgba(0, 0, 0, 0.12);
      border-right-style: solid;
      border-right-width: 1px;
      border-bottom-color: initial;
      border-bottom-style: initial;
      border-bottom-width: 0px;
      border-left-color: initial;
      border-left-style: initial;
      border-left-width: 0px;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: rgba(0, 0, 0, 0.12);
      tr {
        display: block;
        padding: 0 10px 0 0;
      }
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
      tr {
        display: inline-block;
        vertical-align: top;
      }
    }
    tr {
      border-bottom: none;
      border-bottom-width: initial;
      border-bottom-style: none;
      border-bottom-color: initial;
      padding: 0 10px;
    }
    th {
      font-size: 1rem !important;
      margin: 0;
      display: block;
      text-align: right;
    }
    td {
      display: block;
      min-height: 1.25em;
      margin: 0;
      height: 51px;
      line-height: 51px;
      padding: 0 5px;
      text-align: left !important;
      font-size: 1rem !important;
      input {
        font-size: 1rem !important;
        margin-bottom: 0px !important;
      }
    }
  }
}
